<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_5e83a"></div>
  <div class="tradingview-widget-copyright"><a href="https://tw.tradingview.com/symbols/NASDAQ-FB/" rel="noopener" target="_blank"><span class="blue-text">FB 圖表</span></a>由TradingView提供</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "NASDAQ:FB",
  "interval": "D",
  "timezone": "Asia/Taipei",
  "theme": "dark",
  "style": "0",
  "locale": "zh_TW",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": true,
  "withdateranges": true,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "watchlist": [
    "NASDAQ:FB",
    "NASDAQ:AAPL",
    "NASDAQ:AMZN",
    "NASDAQ:NFLX",
    "NASDAQ:GOOGL"
  ],
  "details": true,
  "hotlist": true,
  "calendar": true,
  "studies": [
    "MACD@tv-basicstudies"
  ],
  "container_id": "tradingview_5e83a"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->